In [28]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
dataset = pd.read_csv(r"C:\Users\Ravinder Kaul\Desktop\Workspace\Machine-Learning-A-Z-New\Machine Learning A-Z New\Part 1 - Data Preprocessing\Section 2 Part 1 - Data Preprocessing\data1.csv")
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values
print(X)
# Taking care of missing data
#from sklearn.preprocessing import Imputer
#imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
#imputer = imputer.fit(X[:, 1:3])
#X[:, 1:3] = imputer.transform(X[:, 1:3])

# Encoding categorical data
# Encoding the Independent Variable
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 1] = labelencoder_X.fit_transform(X[:, 1])
print(X)
print('*'*30)
onehotencoder = OneHotEncoder(categorical_features = [0])
X = onehotencoder.fit_transform(X).toarray()
X = pd.DataFrame(X)
print(X)
# Encoding the Dependent Variable
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

[['France' 'high' 44 '72000']
 ['Spain' 'low' 27 '48000']
 ['Germany' 'mid' 30 '54000']
 ['Spain' 'high' 38 '61000']
 ['Germany' 'low' 40 '54000']
 ['France' 'mid' 35 '58000']
 ['Spain' 'high' 52000 'No']
 ['France' 'low' 48 '79000']
 ['Germany' 'mid' 50 '83000']
 ['France' 'high' 37 '67000']]
[['France' 0 44 '72000']
 ['Spain' 1 27 '48000']
 ['Germany' 2 30 '54000']
 ['Spain' 0 38 '61000']
 ['Germany' 1 40 '54000']
 ['France' 2 35 '58000']
 ['Spain' 0 52000 'No']
 ['France' 1 48 '79000']
 ['Germany' 2 50 '83000']
 ['France' 0 37 '67000']]
******************************

C:\Users\Ravinder Kaul\Anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

ValueError: could not convert string to float: 'France'

In [20]:
labelencoder_X.classes_

array(['France', 'Germany', 'Spain'], dtype=object)

In [29]:
x = X.iloc[:,0:3]
x

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'

In [15]:
labelencoder_X.inverse_transform(x)

ValueError: bad input shape (10, 3)

In [16]:
from sklearn import preprocessing
import pandas as pd

In [17]:
raw_data = {'patient': [1, 1, 1, 2, 2],
        'obs': [1, 2, 3, 1, 2],
        'treatment': [0, 1, 0, 1, 0],
        'score': ['strong', 'weak', 'normal', 'weak', 'strong']}
df = pd.DataFrame(raw_data, columns = ['patient', 'obs', 'treatment', 'score'])

In [18]:
y = df.iloc[:,-1:]
y

    score
0  strong
1    weak
2  normal
3    weak
4  strong

In [5]:
le = preprocessing.LabelEncoder()

In [6]:
le.fit(df['score'])

LabelEncoder()

In [7]:
list(le.classes_)

['normal', 'strong', 'weak']

In [8]:
le.transform(df['score'])

array([1, 2, 0, 2, 1])

In [9]:
list(le.inverse_transform([2, 2, 1]))

['weak', 'weak', 'strong']

In [28]:
ohc = preprocessing.OneHotEncoder(sparse=False)

In [35]:
d = ohc.fit_transform(y)
d

array([[0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [36]:
d = pd.DataFrame(d)
d

     0    1    2
0  0.0  1.0  0.0
1  0.0  0.0  1.0
2  1.0  0.0  0.0
3  0.0  0.0  1.0
4  0.0  1.0  0.0

In [37]:
d = pd.concat([d,df],axis=0)

In [38]:
d

     0    1    2  obs  patient   score  treatment
0  0.0  1.0  0.0  NaN      NaN     NaN        NaN
1  0.0  0.0  1.0  NaN      NaN     NaN        NaN
2  1.0  0.0  0.0  NaN      NaN     NaN        NaN
3  0.0  0.0  1.0  NaN      NaN     NaN        NaN
4  0.0  1.0  0.0  NaN      NaN     NaN        NaN
0  NaN  NaN  NaN  1.0      1.0  strong        0.0
1  NaN  NaN  NaN  2.0      1.0    weak        1.0
2  NaN  NaN  NaN  3.0      1.0  normal        0.0
3  NaN  NaN  NaN  1.0      2.0    weak        1.0
4  NaN  NaN  NaN  2.0      2.0  strong        0.0

In [30]:
from sklearn import preprocessing
import pandas as pd
raw_data = {'patient': [1, 1, 1, 2, 2],
        'obs': [1, 2, 3, 1, 2],
        'treatment': [0, 1, 0, 1, 0],
        'score': ['strong', 'weak', 'normal', 'weak', 'strong'],
        'weight':['high','medium','low','medium','high'] }
df = pd.DataFrame(raw_data, columns = ['patient', 'obs', 'treatment', 'score','weight'])

In [31]:
df

   patient  obs  treatment   score  weight
0        1    1          0  strong    high
1        1    2          1    weak  medium
2        1    3          0  normal     low
3        2    1          1    weak  medium
4        2    2          0  strong    high

In [70]:
ohc = preprocessing.OneHotEncoder(sparse=False)

In [71]:
d = df.iloc[:,-2:]

In [72]:
d = ohc.fit_transform(d)

In [73]:
d = pd.DataFrame(d)
d

     0    1    2    3    4    5
0  0.0  1.0  0.0  1.0  0.0  0.0
1  0.0  0.0  1.0  0.0  0.0  1.0
2  1.0  0.0  0.0  0.0  1.0  0.0
3  0.0  0.0  1.0  0.0  0.0  1.0
4  0.0  1.0  0.0  1.0  0.0  0.0

In [74]:
ohc.categories_

[array(['normal', 'strong', 'weak'], dtype=object),
 array(['high', 'low', 'medium'], dtype=object)]

In [75]:
d = ohc.inverse_transform(d)
d = pd.DataFrame(d)

In [76]:
print(d)

        0       1
0  strong    high
1    weak  medium
2  normal     low
3    weak  medium
4  strong    high